.orange-line-iside-text {
    height: 2px;
    width: 25%;
    background-color: var(--decoration-color);
    margin: 10px 0;
}

.ad-cards {
    background-color: #261e1c;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    align-self: end;
    margin: 30px auto;
    height: 80%;
    width: 80%;
}

 .orange-line-center{
    height: 5px;
    width: 50%;
    background-color: var(--decoration-color);
    margin: 3% 25% 3% 25%;  
}

 .background-ad-cards {
  background-color:#261e1c;
 }

@media (min-width: 768px) {
  .ad-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
}

@media (min-width: 992px) {
  .ad-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
}
}

 .living-room-cards {
     background-image: url(../img/living-room.jpg);
     background-position: center;
     background-size: cover;
     min-height: 80%;
     text-align: left;
     padding: 25px;
}

 .furniture-collections-cards {
    background-image: url(../img/loft-collect.jpg);
    background-position: center;
    background-size: cover;
    min-height: 80%;
    text-align: left;
    padding: 25px;
 }

  .home-office-cards {
    background-image: url(../img/loft-office.jpg.jpg);
    background-position: center;
    background-size: cover;
    min-height: 80%;
    text-align: left;
    padding: 25px;
  }

  .title-ad-cards {
     text-align: center;
     color: white;
     padding: 35px;
    
}

  .about-loft-style-design{
      max-width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px;
}

.about-loft-style-loft-bedroom {
  width: 100%;
}

  .abbreviated-text-card {
      padding: 100% 1% 1% 1%;
      display: flex;
      flex-direction: column;
      align-self: flex-end;
}
  .little-title-ad-cards {
      font-family: var(--paragraph-font);
  }
  .info-text-block {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 15px;
      padding: 15px;
  }

@media (min-width: 768px) {
  .info-text-block {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px;
      padding: 15px;
  }
}
@media (min-width: 992px) {
  .about-loft-style-design{
      height: 600px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
  }
}      