.ad-cards {
    background-color: #261e1c;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    margin: 50px;
    padding: 25px;
    height: 500px;
    width: 80%;
}

 .orange-line-center{
    height: 5px;
    width: 25%;
    background-color: #c8693a;
    margin: 50px;      
}

 .background-ad-cards {
  background-color:#261e1c;
 }

 .living-room-cards {
     background-image: url(../img/living-room.jpg);
     background-position: center;
     background-size: cover;
     min-height: 400px;
     text-align: left;
     padding-top: 25px;
}

 .furniture-collections-cards {
    background-image: url(../img/loft-collect.jpg);
    background-position: center;
    background-size: cover;
    min-height: 400px;
    text-align: left;
    padding: 25px;
 }

  .home-office-cards {
    background-image: url(../img/loft-office.jpg.jpg);
    background-position: center;
    background-size: cover;
    min-height: 400px;
    text-align: left;
    padding: 25px;
  }

  .title-ad-cards {
     text-align: center;
     color: white;
 }