.ad-cards {
    background-color: #261e1c;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    margin: 50px;
    padding: 25px;
    height: 600px;
    width: 80%;
}

 .orange-line-center{
    height: 5px;
    width: 50%;
    background-color: #c8693a;
    margin: 3% 25% 3% 25%;  
}

 .background-ad-cards {
  background-color:#261e1c;
 }

 .living-room-cards {
     background-image: url(../img/living-room.jpg);
     background-position: center;
     background-size: cover;
     min-height: 400px;
     text-align: left;
     padding: 25px;
}

 .furniture-collections-cards {
    background-image: url(../img/loft-collect.jpg);
    background-position: center;
    background-size: cover;
    min-height: 400px;
    text-align: left;
    padding: 25px;
 }

  .home-office-cards {
    background-image: url(../img/loft-office.jpg.jpg);
    background-position: center;
    background-size: cover;
    min-height: 400px;
    text-align: left;
    padding: 25px;
  }

  .title-ad-cards {
     text-align: center;
     color: white;
     padding: 35px;
    
}

  .about-loft-style-design{
      height: 600px;
      display: flex;
      flex-direction: row;
}

  .abbreviated-text-card {
      padding: 100% 1% 1% 1%;
}
  .little-title-ad-cards {
      font-family: var(--paragraph-font);
  }
  .info-text-block {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px;
      padding: 15px;
  }

      