/* .burger-icon {
    width: 24px;
    height: 16px;
    font-size: 3.5rem;
}

.burger-icon:hover {
    cursor: pointer;
}

#burger-checkbox {
    display: none;
}

header nav .menu {
    display: none;
}

header nav input:checked ~ .menu {
    display: flex;
}

@media (min-width: 600px) {
    .burger-icon {
        display: none;
    }

    header nav .menu {
        display: flex;
    }
} */