.carousel-items {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.products-description {
    color: var(--text-color);
    font-size: 18px;
    line-height: 1.7;
    font-family: Rubik, sans-serif;
    font-weight: 400;
    text-align: center;
}