#s-carousel-products {
  display: flex;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-image-link {
  display: flex;
  justify-content: space-evenly;
  min-width: 100%;
  padding: 10px 50px;
}

.carousel-img-s-cards {
  min-width: 95%;
}

.carousel-products {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.s-carousel-product-price {
  color: var(--text-color);
}

.s-carousel-text {
  margin-top: 10px;
}

.s-carousel-arrow {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: auto 0;
  border: 0;
  padding: 0;
  background-color: var(--basic-color);
  border-color: var(--basic-color);
}

.s-carousel-arrow-left {
  transform: rotate(180deg);
}

.carousel-inner {
  display: flex;
  flex-direction: row;
}
