.carousel-items {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.carousel-items-p {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.products-description {
    color: var(--text-color);
    font-size: 18px;
    line-height: 1.7;
    font-family: Rubik, sans-serif;
    font-weight: 400;
    text-align: center;
}

.s-carousel-main {
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    padding-bottom: 30px;
}