.button {
    padding: 14px 26px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    font-family: 'Rubik', sans-serif;
}

.button-popup-controls {
    background-color: var(--decoration-color);
    color: var(--text-color);
    border: 0px;
}

.button-popup-controls:hover {
    color: var(--footer-background-color);
    opacity: 0.8;
}

.button-buy {
    background-color: var(--decoration-color);
    color: var(--text-color);
}

.button-buy:hover {
    opacity: 0.95;
}

.button-info {
    color: var(--text-color);
    background-color: transparent;
    border: 3px solid #fff;
}

.button-info:hover {
    background-color: var(--text-color);
    color: rgb(27, 22, 19);
}

.button-submit {
    min-width: 17.3125rem;
    width: 100%;
    font-size: 15px;
}

.btn-close-modal-cart {
    width: 28px;
}