.orange-line {
    height: 2px;
    width: 25%;
    background-color: #c8693a;
    margin: 10px 10px;
}

.info-buy-image {
    background: url(../img/loft-interior.jpg) no-repeat center;
    max-height: 350px;
    width: 100%;
}

.info-buy-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

p.info-buy-title.textdecor {
    font-size: 20px;
    text-align: center;
}

.info-text-content {
    font-size: 45px;
    text-align: center;
}

.info-buy-text-footer {
    font-size: 20px;
    text-align: center;
    color: var(--text-color);
}

@media (min-width: 500px) {
    p.info-buy-title.textdecor {
        font-size: 20px;
        
    }
    .info-text-content {
        font-size: 58px;
    }

    .info-buy-text-footer {
        font-size: 18px;
    } 
}


.best-ideas-container {
    background-color: rgb(27, 22, 19);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    min-height: 200px;
}

.ideas-text-content {
    color: #fff;
    font-size: 18px;
}

.best-ideas-title {
    font-size: 42px;
}