.orange-line {
    height:2px;width:25%;background-color:#c8693a;
    margin: 10px 10px;
}

.info-buy-image {
    background: url(../img/loft-interior.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 400px;
    flex-direction: column;
    text-align: center;
}

.info-text-content {
    font-size: 58px;
}

.info-buy-text-footer {
    font-size: 18px;
    color: #fff;
}

.best-ideas-container {
    background-color: rgb(27, 22, 19);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    min-height: 200px;
}

.ideas-text-content {
    color: #fff;
    font-size: 18px;
}

.best-ideas-title {
    font-size: 42px;
}