.decoration-line {
    height: 2px;
    width: 25%;
    background-color: #c8693a;
    margin: 15px 0;

}

main div.customer-reviews {
    text-align: center;
    margin: auto;
    padding: 10px;
}

main div.customer-reviews .slide-reviews {
    color: var(--secondary-text-color);
}

main div.customer-reviews p:nth-child(4) {
    color: var(--text-color);
}

main section.faq-background,
main section.customer-reviews-background,
main section.advantages-background {
    background-color: var(--basic-color);
}

main div.faq details {
    color: var(--text-color);
}

main div.faq {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

main div.faq .faq-case {
    padding: 5px;
}

main div.faq img {
    min-width: 310px;

}


@media (min-width: 765px) {
    main div.faq {
        flex-direction: row;
    }

    main div.faq img {
        padding-left: 10px;
    }
}

main div.advantages {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

main div.advantages p {
    color: var(--secondary-text-color);
}

main div.advantages .advantage {
    padding: 5px;
}

main div.advantages .advantage .advantage-icon {
    background-color: #342e2e;
    padding: 5%;
    border-radius: 50%;
}

@media (min-width: 765px) {
    main div.advantages {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 993px) {
    main div.advantages {
        display: flex;
        flex-direction: row;
    }
}

main section.join-newsletter-background {
    background-color: var(--footer-background-color);
}

main section.join-newsletter-background p:nth-child(3) {
    color: var(--text-color);
}

main div.join-newsletter {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

main div.join-newsletter form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

main div.join-newsletter form .input-email {
    border-color: #f2efe9;
    background-color: rgba(73, 73, 73, 0.24);
    min-width: 17.3125rem;
    padding: 16px 25px;
    margin-top: 12px;
    color: var(--decoration-color);
}



@media (min-width: 765px) {
    main div.join-newsletter {
        flex-direction: row;
        justify-content: space-between;
    }
}

footer section.menu-info .decoration-line {
    margin: 15px auto;

}

footer section.menu-info {
    background-color: var(--footer-background-color);
}

footer section.menu-info .navigation-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

footer section.menu-info .navigation-footer a {
    text-decoration: none;
    color: var(--secondary-text-color);
}

footer section.menu-info .navigation-footer a:hover {
    color: var(--decoration-color);
}

footer section.menu-info .navigation-footer {
    color: var(--secondary-text-color);
}

.contacts-footer,
.information-footer,
.shop-menu-footer,
.instagram-menu,
.created-by {
    text-align: center;

}

footer section.menu-info .instagram-photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}



@media (min-width: 765px) {
    footer section.menu-info .decoration-line {
        margin: 15px 0;

    }

    footer section.menu-info .navigation-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .contacts-footer,
    .information-footer,
    .shop-menu-footer,
    .instagram-menu {
        text-align: left;
    }


}

@media (min-width: 993px) {
    footer section.menu-info .instagram-photos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

footer div.created-by {
    padding: 10px;
    background-color: black;
}

footer div.created-by p {
    color: var(--text-color);
}