main section.customer-reviews {
    text-align: center;
    margin: auto;
    padding: 10px;
}

main section.faq {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

main section.faq .faq-case{
    padding: 5px ;
}
@media(min-width:765px){
    main section.faq{
    flex-direction: row;
}
}
main section.advantages {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

main section.advantages .advantage {
    padding: 5px;
}

@media(min-width:765px) {
    main section.advantages {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width:993px) {
    main section.advantages {
        display: flex;
        flex-direction: row;
    }
}
main section.join-newsletter{
    display: flex;
    flex-direction: column;
    padding: 10px;

}

main section.join-newsletter form{
    display: flex;
    align-items: center; 
    flex-direction: column;}

@media(min-width:765px){
    main section.join-newsletter{
        flex-direction: row;
        justify-content: space-between;
    }
    
}

footer section.menu-info .navigation-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}
.contacts-footer, .information-footer, .shop-menu-footer, .instagram-photos, .created-by{
    text-align: center;
}
footer section.menu-info .instagram-photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}
@media(min-width:765px){
    footer section.menu-info .navigation-footer{
        display: flex;
        flex-direction: row;
       justify-content: space-around;
       align-items: center;
    }
    .contacts-footer, .information-footer, .shop-menu-footer, .instagram-photos {
        text-align: left;
}
}
@media(min-width:993px){
    footer section.menu-info .instagram-photos {
        
        grid-template-columns: 1fr 1fr 1fr;
    }
}
 footer section.created-by{
    padding: 10px;
}