.decoration-line {
    height: 2px;
    width: 25%;
    background-color: #c8693a;
    margin: 15px 0;

}

.horizontal-line {

    height: 1px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.14)
}

main div.customer-reviews {
    text-align: center;
    margin: auto;
    padding: 10px;
    margin: 35px 0px;
}
.review-carousel-position{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.s-carousel-arrow-review {
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: auto 0;
    background-color: rgba(255,255,255,0);
    border-color: rgba(255,255,255,0);
}
.s-carousel-arrow-left-review {
    transform: rotate(180deg);
}
main div.customer-reviews h2 {
    font-size: 2.125rem;
}

main div.customer-reviews>p {
    font-size: 1.125rem;
}

main div.customer-reviews .slide-reviews {
    color: var(--secondary-text-color);
    min-width: 260px;
    max-width: 760px;
}

main div.customer-reviews>p:nth-child(3) {
    color: var(--text-color);
}

@media(min-width:765px) {

    main div.customer-reviews h2 {
        font-size: 2.5625rem;
    }
}

main section.faq-background,
main section.customer-reviews-background,
main section.advantages-background {
    background-color: var(--basic-color);
}

main div.faq-info>h2 {
    font-size: 2.125rem;
}

main div.faq details summary {
    color: var(--text-color);
    font-family: var(--title-font);
    font-size: 1.375rem;
}

main div.faq details p {

    font-family: var(--paragraph-font);
    font-size: 1rem;
}

main div.faq {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

main div.faq .faq-case {
    padding: 5px;
}

main div.faq img {
    min-width: 310px;
    object-fit:cover;

}



@media (min-width: 765px) {
    main div.faq-info>h2 {
        font-size: 2.5625rem;
    }

    main div.faq {
        flex-direction: row;
    }

    main div.faq img {
        padding-left: 10px;
    }
}

main div.advantages {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

main div.advantage h3 {
    font-size: 1.375rem;
    font-family: var(--title-font);
}

main div.advantages p {
    color: var(--secondary-text-color);
    font-size: 1rem;
    font-family: var(--paragraph-font);
}

main div.advantages .advantage {
    padding: 5px;
}

main div.advantages .advantage .advantage-icon {
    background-color: #342e2e;
    padding: 15px;
    border-radius: 50%;
    width: 35px;
}

@media (min-width: 765px) {
    main div.advantages {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }  main div.advantages .advantage .advantage-icon {

        width: 55px;
    }
}

@media (min-width: 993px) {
    main div.advantages {
        display: flex;
        flex-direction: row;
    }
}

main section.join-newsletter-background {
    background-color: var(--footer-background-color);
}

main section.join-newsletter-background p:nth-child(3) {
    color: var(--text-color);
}

main section.join-newsletter-background h2 {
    font-size: 1.75rem;
}


main div.join-newsletter {
    display: flex;
    flex-direction: column;
    padding: 90px 15px 25px 15px;
}


main div.join-newsletter form {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 17.3125rem;
    max-width: 100%;
}

main div.join-newsletter form .input-email {
    border-color: #f2efe9;
    background-color: rgba(73, 73, 73, 0.24);
    min-width: 17.3125rem;
    width: 90%;
    padding: 16px 25px;
    margin: 12px 5px 5px 5px;
    color: var(--decoration-color);
}



@media (min-width: 765px) {
    main section.join-newsletter-background h2 {
        font-size: 1.875rem;
    }

    main div.join-newsletter {
        flex-direction: row;
        justify-content: space-between;
    }
}

footer section.menu-info .decoration-line {
    margin: 15px auto;

}
.contacts-footer, .information-footer, .shop-menu-footer, .instagram-menu{
    padding: 25px ;
}
footer section.menu-info .navigation-footer .footer-link {
    text-decoration: none;
    color: var(--secondary-text-color);
    font-family: var(--paragraph-font);
    display: block;
    padding: 5px 0;
}


footer section.menu-info {
    background-color: var(--footer-background-color);
}

footer section.menu-info .navigation-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

footer section.menu-info .navigation-footer a {
    text-decoration: none;
    color: var(--secondary-text-color);
    font-family: var(--paragraph-font);
}

footer section.menu-info .navigation-footer a:hover {
    color: var(--decoration-color);
}

footer section.menu-info .navigation-footer {
    color: var(--secondary-text-color);
}

footer section.menu-info .navigation-footer h3 {
    font-size: 1.375rem;
}

.contacts-footer,
.information-footer,
.shop-menu-footer,
.instagram-menu,
.created-by {
    text-align: center;

}

footer section.menu-info .instagram-photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}



@media (min-width: 765px) {
    footer section.menu-info .decoration-line {
        margin: 15px 0;

    }

    footer section.menu-info .navigation-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 10px;
    }

    .contacts-footer,
    .information-footer,
    .shop-menu-footer,
    .instagram-menu {
        text-align: left;
    }


}

@media (min-width: 993px) {
    footer section.menu-info .instagram-photos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

footer div.created-by {
    padding: 10px;
    background-color: black;
}

footer div.created-by p {
    color: var(--text-color);
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
.active, .dot:hover {
    background-color: #717171;}

.dots {
    text-align:center;
}
