@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Prata&family=Rubik:ital,wght@1,400;1,500;1,700&display=swap');

:root{
    --basic-color:rgb(27, 22, 19);
    --decoration-color:#C8693A;
    --text-color:#FFFFFF;
    --secondary-text-color:#898082;

}

