@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Prata&family=Rubik:ital,wght@1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;

}

:root {
    --basic-color: rgb(27, 22, 19);
    --decoration-color: #C8693A;
    --text-color: #FFFFFF;
    --secondary-text-color: #898082;
    --decoration-font: 'Great Vibes', cursive;
    --top-container-color: rgba(0, 0, 0, 0.5);
    scroll-behavior: smooth;
}

.buttons-container {
    display: flex;
    justify-content: center;
}

h1, h2, h3, h4 {
    font-family: var(--title-font);
    color: var(--text-color);
}

p {
    font-family: var(--paragraph-font);
}

body {
    max-width: 1366px;
    margin: auto;
}

.textdecor {
    color: var(--decoration-color);
    font-family: var(--decoration-font);
    font-size: 21px;
}