@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Prata&family=Rubik:ital,wght@1,400;1,500;1,700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --basic-color: rgb(38, 30, 28);
    --decoration-color: #C8693A;
    --text-color: #FFFFFF;
    --secondary-text-color: #898082;
    --top-container-color: rgba(0, 0, 0, 0.5);
    --footer-background-color: #1b1613;
    --title-font: 'Prata', serif;
    --paragraph-font: 'Rubik', sans-serif;
    --decoration-font: 'Great Vibes';
    scroll-behavior: smooth;
}

body {
    background-color: var(--basic-color);
}

.decoration {
    height: 2px;
    width: 100px;
    background-color: #c8693a;
    margin-left: 65px;
}

.contacts {
    color: var(--text-color);
    font-weight: 400;
    font-family: 'Prata', serif;
    margin-left: 65px;
}

.contact-info {
    text-decoration: none;
    color: var(--secondary-text-color);
    font-family: var(--paragraph-font);
    display: block;
    padding: 5px 0;
    margin-left: 65px;
}

.created {
    background-color: black;
    color: var(--text-color);
    font-size: 18px;
    line-height: 1.7;
    font-family: Rubik, sans-serif;
    font-weight: 400;
    text-align: center;
}

.icons {
    margin-left: 65px;
}

.footer-items {
    display: flex;
    flex-direction: row;
    margin: 15px;
}

.map {
    margin-left: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.decoration-1 {
    height: 2px;
    width: 687px;
    background-color: var(--decoration-color);
}

.decor {
    display: inline-flex;
    margin-bottom: 10px;
}

.decoration-loza {
    display: inline-flex;
    align-items: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--decoration-color);
}

.header-container {
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    padding: 0px 30px;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
}

.header-logo {
    font-weight: bold;
    font-family: Prata, serif;
    font-size: 32px;
    box-sizing: border-box;
    color: var(--text-color);
    text-decoration: none;
    position: relative;
    z-index: 5;
}

.menu-list>li {
    position: relative;
    list-style-type: none;
}

.menu-link {
    color: var(--text-color);
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;
}

.menu-link:hover {
    text-decoration: underline;
}

.menu-sub-list {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--decoration-color);
    padding: 15px;
    min-width: 100px;
    list-style-type: none;
}

.menu-sub-link {
    color: var(--text-color);
    text-decoration: none;
}

.menu-sub-link:hover {
    text-decoration: underline;
}

.menu-sub-list li {
    margin-bottom: 10px;
    margin-left: 5px;
}

.menu-arrow {
    display: none;
}

body.pc .menu-list>li:hover .menu-sub-list {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
}

body.touch .menu-list>li {
    display: flex;
    align-items: center;
}

body.touch .menu-arrow {
    display: block;
    width: 0;
    height: 0;
    margin: 0px 0px 0px 5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #FFFFFF;
    transition: transform 0.3s ease 0s;
}

.body.touch .menu-list>li.active .menu-sub-list {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
}

body.touch .menu-link {
    flex: 1 1 auto;
}

@media (min-width: 763px) {
    .menu-list {
        display: flex;
        align-items: center;
    }
    .menu-list>li {
        padding: 10px 0;
    }
    .menu-sub-list {
        transform: translate(0px, 10px);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all 0.3s ease 0s;
    }
}

@media (max-width: 767px) {
    .menu-icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }
    .menu-icon span,
    .menu-icon::before,
    .menu-icon::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #FFFFFF;
    }
    .menu-icon::before,
    .menu-icon::after {
        content: "";
    }
    .menu-icon::before {
        top: 0;
    }
    .menu-icon::after {
        bottom: 0;
    }
    .menu-icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .menu-body {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 100px 30px 30px 30px;
        transition: left 0.3s ease 0s;
    }
    .menu-list>li {
        flex-wrap: wrap;
        margin: 0px 0px 30px 0px;
    }
    .menu-list>li:last-child {
        margin-bottom: 0;
    }
    .manu-link {
        font-size: 24px;
    }
    .menu-sub-list {
        position: relative;
        background-color: var(--decoration-color);
        flex: 1 1 100%;
        margin: 10px;
    }
    .menu-sub-link {
        font-size: 20px;
        color: var(--text-color)
    }
}