@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Prata&family=Rubik:ital,wght@1,400;1,500;1,700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 :root {
    --basic-color: rgb(38, 30, 28);
    --decoration-color: #C8693A;
    --text-color: #FFFFFF;
    --secondary-text-color: #898082;
    --top-container-color: rgba(0, 0, 0, 0.5);
    --footer-background-color: #1b1613;
    --title-font: 'Prata', serif;
    --paragraph-font: 'Rubik', sans-serif;
    --decoration-font: 'Great Vibes';
    scroll-behavior: smooth;
}

body {
    background-color: var(--basic-color);
}

.decoration {
    height: 2px;
    width: 100px;
    background-color: #c8693a;
    margin-left: 65px;
}

.contacts {
    color: var(--text-color);
    font-weight: 400;
    font-family: 'Prata', serif;
    margin-left: 65px;
}

.contact-info {
    text-decoration: none;
    color: var(--secondary-text-color);
    font-family: var(--paragraph-font);
    display: block;
    padding: 5px 0;
    margin-left: 65px;
}

.created {
    background-color: black;
    color: var(--text-color);
    font-size: 18px;
    line-height: 1.7;
    font-family: Rubik, sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.icons {
    margin-left: 65px;
}

.footer-items {
    display: flex;
    flex-direction: column;
    margin: 7px;
    align-items: center;
    padding-top: 17px;
}

.map {
    margin-left: 20px;
    margin-top: 27px;
}

.footer {
    bottom: 0;
    left: 0;
    width: 100%;
}

.decoration-1 {
    height: 2px;
    width: 500px;
    background-color: var(--decoration-color);
}

.decoration-5 {
    height: 2px;
    width: inherit;
    background-color: var(--decoration-color);
    display: none;
}

.decor {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.decoration-loza {
    display: none;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--decoration-color);
}

.header-container {
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    padding: 0px 30px;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
}

.header-logo {
    font-weight: bold;
    font-family: Prata, serif;
    font-size: 32px;
    box-sizing: border-box;
    color: var(--text-color);
    text-decoration: none;
    position: relative;
    z-index: 5;
}

.menu-list>li {
    position: relative;
    list-style-type: none;
}

.menu-link {
    color: var(--text-color);
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;
}

.menu-link:hover {
    text-decoration: underline;
}

.menu-sub-list {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--decoration-color);
    padding: 15px;
    min-width: 100px;
    list-style-type: none;
    border: var(--decoration-color);
    border-radius: 6px;
}

.menu-sub-link {
    color: var(--text-color);
    text-decoration: none;
}

.menu-sub-link:hover {
    text-decoration: underline;
}

.menu-sub-list li {
    margin-bottom: 10px;
    margin-left: 5px;
}

.menu-arrow {
    display: none;
}

body.pc .menu-list>li:hover .menu-sub-list {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
}

body.touch .menu-list>li {
    display: flex;
    align-items: center;
}

body.touch .menu-arrow {
    display: block;
    width: 0;
    height: 0;
    margin: 0px 0px 0px 5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #FFFFFF;
    transition: transform 0.3s ease 0s;
}

.body.touch .menu-list>li.active .menu-sub-list {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
}

body.touch .menu-link {
    flex: 1 1 auto;
}

@media (min-width: 767px) {
    .menu-list {
        display: flex;
        align-items: center;
    }
    .menu-list>li {
        padding: 10px 0;
    }
    .menu-sub-list {
        transform: translate(0px, 10px);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all 0.3s ease 0s;
    }
}

@media (max-width: 767px) {
    .menu-icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }
    .menu-icon span,
    .menu-icon::before,
    .menu-icon::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #FFFFFF;
    }
    .menu-icon::before,
    .menu-icon::after {
        content: "";
    }
    .menu-icon::before {
        top: 0;
    }
    .menu-icon::after {
        bottom: 0;
    }
    .menu-icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .menu-body {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 100px 30px 30px 30px;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }
    .menu-body.active {
        left: 0;
    }
    body.lock {
        overflow: hidden;
    }
    .menu-list>li {
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    .menu-list>li:last-child {
        margin-bottom: 0;
    }
    .menu-list>li.active .menu-sub-list {
        display: block;
    }
    .margin-link {
        font-size: 25px;
    }
    .menu-sub-list {
        position: relative;
        background-color: var(--decoration-color);
        font-size: 18px;
        flex: 1 1 100%;
        margin: 20px;
    }
}

.enter-name {
    color: var(--text-color);
    font-weight: 400;
    font-family: 'Prata', serif;
}

.entring-form {
    border: 5px solid var(--decoration-color);
    border-radius: 10px;
    margin: 50px 50px 50px 70px;
}

.form-test {
    padding: 20px;
    background-color: rgb(200, 105, 58, 0.3)
}

.button-click {
    margin-top: 5px;
    border: 1px var(--decoration-color);
    background-color: var(--decoration-color);
    color: var(--text-color);
    width: 60px;
    font-family: 'Prata', serif;
    border-radius: 3px;
}

.button-click:hover {
    border: 1px solid var(--text-color);
}

.around {
    border: 2px solid var(--text-color);
    padding: 5px;
    border-radius: 7px;
    text-decoration: none !important;
}

.carousel-items {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-bottom: 100px;
    margin-top: 200px;
}

.s-carousel-main {
    border: 2px solid var(--basic-color);
    background-color: var(--basic-color);
}

.button-shop {
    border: 2px solid var(--decoration-color);
    background-color: var(--decoration-color);
    width: 90px;
    height: 50px;
    color: var(--text-color);
    font-family: 'Prata', serif;
    font-size: 400;
    font-weight: bold;
}

.button-shop:hover {
    text-decoration: underline;
    box-shadow: 10px 5px 5px var(--text-color);
}

.general-description {
    width: 300px;
}

.s-carousel-text {
    color: var(--text-color);
    font-weight: bold;
    font-family: 'Prata', serif;
    margin-left: 85px;
}

.general-description {
    color: var(--text-color);
    font-family: 'Prata', serif;
    border: 3px solid var(--decoration-color);
    border-radius: 7px;
    height: 170px;
    padding: 5px;
}

.carousel-items-p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px;
}

.furniture-items-carousel {
    display: flex;
    flex-direction: column;
}

.carousel-items-p img {
    width: 400px;
    height: 200px;
}

.carousel-items-p button {
    width: 70px;
    font-size: 11px;
    height: 40px;
    margin-top: 15px;
}

.carousel-items-p h3 {
    text-align: center;
    margin-right: 80px;
}

.s-carousel-main {
    display: none;
}

@media(min-width: 960px) {
    .footer-items {
        display: flex;
        flex-direction: row;
        margin: 15px;
    }
    .entring-form {
        display: flex;
        right: 0;
        margin-left: 450px;
        border: 5px solid var(--decoration-color);
        border-radius: 10px;
    }
    .map {
        margin-left: 20px;
        margin-bottom: 32px;
    }
    .carousel-items-p {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 2em;
        justify-items: center;
    }
    .decoration-1 {
        height: 2px;
        width: 680px;
        background-color: var(--decoration-color);
        display: block;
    }
    .decoration-5 {
        height: 2px;
        width: 680px;
        background-color: var(--decoration-color);
        display: block;
    }
    .decoration-loza {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    .carousel-image-thing {
        border: 7px solid var(--decoration-color);
        height: 347.5px;
        border-radius: 7px;
        background-color: var(--decoration-color);
    }
    .s-carousel-main {
        display: block;
    }
    .carousel-items-p button {
        width: 100px;
        font-size: 15px;
        height: 60px;
    }
    .carousel-items-p img {
        width: auto;
        height: auto;
    }
}