@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Prata&family=Rubik:ital,wght@1,400;1,500;1,700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --basic-color: rgb(38, 30, 28);
    --decoration-color: #C8693A;
    --text-color: #FFFFFF;
    --secondary-text-color: #898082;
    --top-container-color: rgba(0, 0, 0, 0.5);
    --footer-background-color: #1b1613;
    --title-font: 'Prata', serif;
    --paragraph-font: 'Rubik', sans-serif;
    --decoration-font: 'Great Vibes';
    scroll-behavior: smooth;
}

body {
    background-color: var(--basic-color);
}

.decoration {
    height: 2px;
    width: 100px;
    background-color: #c8693a;
    margin-left: 65px;
}

.contacts {
    color: var(--text-color);
    font-weight: 400;
    font-family: 'Prata', serif;
    margin-left: 65px;
}

.contact-info {
    text-decoration: none;
    color: var(--secondary-text-color);
    font-family: var(--paragraph-font);
    display: block;
    padding: 5px 0;
    margin-left: 65px;
}

.created {
    background-color: black;
    color: var(--text-color);
    font-size: 18px;
    line-height: 1.7;
    font-family: Rubik, sans-serif;
    font-weight: 400;
    text-align: center;
}

.icons {
    margin-left: 65px;
}

.footer-items {
    display: flex;
    flex-direction: row;
    margin: 15px;
}

.map {
    margin-left: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.decoration-1 {
    height: 2px;
    width: 687px;
    background-color: var(--decoration-color);
}

.decor {
    display: inline-flex;
    margin-bottom: 10px;
}

.decoration-loza {
    display: inline-flex;
    align-items: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--decoration-color);
}

.header-container {
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    padding: 0px 30px;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
}

.header-logo {
    font-weight: bold;
    font-family: Prata, serif;
    font-size: 32px;
    box-sizing: border-box;
    color: var(--text-color);
    text-decoration: none;
    position: relative;
    z-index: 5;
}

.menu-list>li {
    position: relative;
    margin-left: 20px;
}

.menu-link {
    color: var(--text-color);
    font-size: 20px;
}

@media (min-width: 767px) {
    .menu-list {
        display: flex;
        align-items: center;
    }
    .menu-list>li {
        padding: 10px 0;
    }
}