header {
    background: url(../img/main-foto.jpg);
    width: 100%;
}

header nav div.container-top {
    background: var(--top-container-color);
    width: 100%;
    margin: 0;
    padding: 30px 40px;
} 

.name-company {
    font-weight: bold;
    font-family: Prata, serif;
    font-size: 32px;
    box-sizing:border-box;
    color: var(--text-color);
    text-decoration: none;
    text-align: center;
}

header nav .menu-top, .social-icons-top {    
    display: flex;
    flex-direction: column;
}

.mainmenu {
    text-decoration: none;
    box-sizing: border-box;
    color: var(--text-color);
    font-family: Rubik, sans-serif;
    font-size: 14px;
    padding: 0 5px;
}

header nav .menu-top a:hover {
    color: var(--decoration-color);
}

@media (min-width:600px) {

    header nav div.container {
        display: flex;
    }

    header nav .menu-top, .social-icons-top {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex: 1;
    }
}

.social-icons-top .socialicons-view {
    background-color: var(--decoration-color);
    height: 26px;
    width: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    stroke: currentColor;
    fill: none;
}

header nav .social-icons-top a:hover {
    fill: currentColor;
    stroke: none;
}

.banner {
    padding: 40px 40px 40px 200px;
    text-align: center;
    background-size: cover;
    background-position: center;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.main-title-name {
    font-size: 30px;
    font-family: Prata, serif;
    margin: 25px 0 0;
}

.decor-line {
    height: 2px;
    width: 25%;
    background-color: var(--decoration-color);
    margin: 25px 0;
}
    
.text-content {
    font-size: 18px;
    font-family: Rubik, sans-serif;
    color: var(--text-color);
}

.txt-decor-mp {
    font-size: 28px;
}

div.buttons-container {
    padding: 30px 0;
}