header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}
.loft-design {
    background: url(../img/history-foto.webp);
}

@media (min-width: 768px) {
    header {
        display: flex;
        background: var(--top-container-color);
    }
}

.header-logo {
    position: relative;
    z-index: 1;
}

.header-nav {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    background-color: rgb(26, 21, 18);
    height: 100vh;

}
@media (min-width: 768px) {
    .header-nav {
        display: flex;
        position: static;
        text-align: unset;
        height: auto;
        background-color: unset;
    } 
}

.header-mobile {
    position: absolute;
    right: 20px;
    top: 30px;
    z-index: 1;
}

@media (min-width: 768px) {
    .header-mobile {
        display: none;
    }
}

.burger-line {
    display: block;
    width: 24px;
    height: 2px;
    background-color: #FFF;
    margin-bottom: 5px;
    
}
.close-menu {
    display: none;
}

.close-menu .burger-line:first-child {
    transform: rotate(45deg);
    position: relative;
    top: 7px;
}

.close-menu .burger-line:last-child {
    transform: rotate(-45deg);
}
      


.menu-list {
    display: block;
    list-style-type: none;
    margin: 50px;
    padding: 36px;
}

@media (min-width:768px) {
    .menu-list {
        display: flex;
        align-items: center;
        margin: 11px;
        padding: 0;
    }
}


.menu-list li {
    padding: 7px;
}

.menu-list a {
    text-decoration: none;
    color: #FFF;    
}
    

.social-icons-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.social-icons-list li {
    margin: 6px;
}

@media (min-width:768px) {
    .social-icons-list li {
        margin: 0 0 0 20px;
    }
}

.social-icons-list a {
    width: 26px;
    height: 26px;
    display: block;
}

.name-company {
    font-weight: bold;
    font-family: Prata, serif;
    font-size: 32px;
    box-sizing: border-box;
    color: var(--text-color)!important;
    text-decoration: none;
    text-align: center;
}

.menu {
    text-decoration: none;
    color: var(--text-color);
    font-family: Rubik, sans-serif;
    font-size: 14px;
} 
nav > ul > li a:hover {
    color: var(--decoration-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.loft-design {
    padding: 130px 24px;
    color: #FFF;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
@media (min-width: 768px) {
    .loft-design {
        padding: 200px 20px 200px 44%;
    }
}
    .loft-design h1 {
        font-size: 58px;
        line-height: 1.2;
        font-family: Prata,serif;
        font-weight: 400;
        text-transform: none;
        text-decoration: none;
        font-style: normal;
        letter-spacing: 0;
    }
    @media (min-width: 768px) {
        .loft-design h1 {
            font-size: 84px;
        }
    }   

.decor-line {
    height: 2px;
    width: 25%;
    background-color: var(--decoration-color);
    margin: 25px 0;
}

.text-content {
    font-size: 18px;
    font-family: Rubik, sans-serif;
    color: var(--text-color);
    text-align: left;
}

.txt-decor-mp {
    font-size: 28px;
}

div.buttons-container {
    padding: 30px 0;
} 