header {
    background: url(../img/main-foto.jpg);
    width: 100%;
}

#aboutus>nav {
    background: var(--top-container-color);
    width: 100%;
    margin: 0;
    padding: 30px 40px;
}

.name-company {
    font-weight: bold;
    font-family: Prata, serif;
    font-size: 32px;
    box-sizing: border-box;
    color: var(--text-color);
    text-decoration: none;
    text-align: center;
}

.mainmenu {
    text-decoration: none;
    box-sizing: border-box;
    color: var(--text-color);
    font-family: Rubik, sans-serif;
    font-size: 14px;
    padding: 0 5px;
}

header nav .menu-top a:hover {
    color: var(--decoration-color);
}

.social-icons-view {
    fill: none;
    stroke: currentColor;
}

header nav .social-icons-top a:hover {
    fill: currentColor !important;
    stroke: none !important;
}

.container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainbanner {
    display: grid;
    grid-template-rows: 0 2fr 1fr;
}

@media (min-width: 500px) {
    .container-top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .mainbanner {
        display: -webkit-flex;
        display: flex;
    }
    .empty-container-ban {
        -webkit-flex: 1;
        flex: 1;
    }
    .banner {
        -webkit-flex: 2;
        flex: 2;
    }
}

.banner {
    padding: 40px 0 0 80px;
    text-align: center;
    background-size: cover;
    background-position: center;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.main-title-name {
    font-size: 30px;
    font-family: Prata, serif;
}

.decor-line {
    height: 2px;
    width: 25%;
    background-color: var(--decoration-color);
    margin: 25px 0;
}

.text-content {
    font-size: 18px;
    font-family: Rubik, sans-serif;
    color: var(--text-color);
    text-align: left;
}

.txt-decor-mp {
    font-size: 28px;
}

div.buttons-container {
    padding: 30px 0;
}