.free-plase {
    height: 150px;
}

.body-background-color {
    background-color: var(--basic-color);
}

.s-product-img-card {
    width: 90%;
    max-width: 400px;
    height: auto;
    margin: 20px;
}

.s-product-title {
    color: var(--text-color);
    text-align: center;
}

.s-product-price {
    color: var(--text-color);
    text-align: center;
}

.shop-btn {
    margin:  10px 50px;
}

.s-products-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.products-container {
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width: 500px) {
    .products-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
}

@media (min-width: 801px) {
    .products-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 980px) {
    .products-container {
        grid-template-columns: repeat(4, 1fr);
    }
}
.store-products-title {
    margin: 20px;
}
